* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-transform: capitalize;
}

h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  margin: 0 auto;
  max-width: 500px;
}

.search-wrapper {
  display: flex;

  input,
  button {
    font-size: 16px;
    height: 40px;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }
  }

  input {
    border: 1px solid #ddd;
    padding: 0 10px;
  }

  button {
    background-color: #23dd55;
    border: 0;
    color: #fff;
    max-width: 120px;
  }
}

.suggestions {
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ddd;
    }
  }
}

.pokemon-card {
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 500px;
  padding: 1.75em;

  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .type-list {
    display: flex;

    li {
      padding-right: 1em;
    }
  }
}
